<form action="">
  <div style="text-align:center">
    <h1 class="title">
      {{ title }}
    </h1>
  </div>

  <div class="container">
    <div class="inner-container">
      <button class="m-button" name="addButton" (click)="addTodo()" [disabled]="!todoInput">+</button>
      <input type="text" name="todoInput" class="m-text" placeholder="I have to do..." [(ngModel)]="todoInput" (action)="addTodo()">
      <table class="m-table">
        <tr *ngFor="let todo of todoArray; let i = index">
          <td>
            <input type="checkbox" name="todoCheck" class="table-checkbox" [(ngModel)]="checkedArray[i]" (ngModelChange)="checkDeleteSelectedVisibility()">
          </td>
          <td class="middle-child">
            <label for="">{{ (i + 1) + ': ' + todo }}</label>
          </td>
          <td>
            <i class="delete-button-icon fa fa-trash" aria-hidden="true" (click)="deleteSingleTodo(i)"></i>
          </td>
        </tr>
      </table>
      <div style="text-align:center">
        <button class="m-warn-button" name="deleteSelectedButton" id="deleteSelectedButton" (click)="deleteSelectedTodo()" *ngIf="showDeleteSelected">Delete selected</button>
      </div>
    </div>
  </div>
</form>
